@font-face {
  font-family: SF Pro Text; /* Название шрифта */
  src: url('./assets/fonts/SFPRODISPLAYREGULAR.OTF'); /* Путь к файлу OTF-шрифта */
  /* Дополнительные настройки шрифта (опционально) */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: SF Pro Text;
  /* background: radial-gradient(73.19% 111.55% at 93.07% 74.31%, #45278b 0%, #2e335a 100%) ; */
  background: linear-gradient(136deg, #2E335A 0%, #1C1B33 100%)no-repeat;

  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1080px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
  padding: 0;
  margin: 0;
}
